<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bar Tomás C.F.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>


<body>
  <div class="container">
    <center><h1>Bar Tomás C.F. App</h1></center>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="tabla-tab" data-bs-toggle="tab" data-bs-target="#tabla-tab-pane" type="button" role="tab" aria-controls="tabla-tab-pane" aria-selected="true">Tabla</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="partidos-tab" data-bs-toggle="tab" data-bs-target="#partidos-tab-pane" type="button" role="tab" aria-controls="partidos-tab-pane" aria-selected="false">Partidos</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tabla-tab-pane" role="tabpanel" aria-labelledby="tabla-tab" tabindex="0">
      <!-- Inside tab -->
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Puntos</th>
              <th scope="col">P.J.</th>
              <th scope="col">P.G.</th>
              <th scope="col">P.E.</th>
              <th scope="col">P.P.</th>
              <th scope="col">G.F.</th>
              <th scope="col">G.C.</th>
            </tr>
          </thead>
          <tbody>
            {% if table %}
              {% for t in table %}
              <tr>
                <th scope="row">{{t.position}}</th>
                <td>{{t.name[:32]|title}}</td>
                <td>{{t.points}}</td>
                <td>{{t.m_played}}</td>
                <td>{{t.m_won}}</td>
                <td>{{t.m_drawn}}</td>
                <td>{{t.m_lost}}</td>
                <td>{{t.goals_scored}}</td>
                <td>{{t.goals_conceded}}</td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
        <p>
          <small>Última actualización: {{last_update.strftime('%d/%m/%Y %H:%M')}}</small><br>
          <small>Última comprobación: {{last_table_check.strftime('%d/%m/%Y %H:%M')}}</small>
        </p>
      </div>
    </div>
    <div class="tab-pane fade" id="partidos-tab-pane" role="tabpanel" aria-labelledby="partidos-tab" tabindex="0">
			<div class="container">
        <br>
        {% set ns = namespace(next_game_detected=false) %}
        {% for m in matches %}

        {% if m.status == 'PENDING' %}
          {% if ns.next_game_detected == false %}
            {% set ns.next_game_detected = true %}
            {% set collapse = 'collapse.show' %}
            {% set msg_status = 'Próximo partido'%}
            {% set msg_color = 'text-danger' %}
          {% else %}
            {% set collapse = 'collapse' %}
            {% set msg_status = 'Partido sin jugar' %}
            {% set msg_color = 'text-info' %}
          {% endif %}
        {% elif m.status == 'PLAYED' %}
          {% set collapse = 'collapse' %}
          {% set msg_status = 'Partido jugado' %}
          {% set msg_color = 'text-primary' %}
        {% else %}
          {% set collapse = 'collapse' %}
        {% endif %}

        <div class="card">
          <div class="card-header">

            <div data-bs-toggle="collapse" href="#collapse_jornada_{{m.jornada}}">
              Jornada {{m.jornada}}<br>

              <small class="text-muted">
                {{m.weekday}} {{m.date}}  {{m.time or '(Hora por definir)'}} ({{m.field or 'Campo por definir'}})</small>
            </div>
          </div>
          <div class="card-body {{collapse}}" id="collapse_jornada_{{m.jornada}}">
            <p class="{{msg_color}}"><i>{{msg_status}}</i></p>

            <table class="table">
              <tbody>
                <tr>
                  <td>{{m.team_home_name|title}}</td>
                  <td><span class="text-primary">{{m.team_home_goals if m.team_home_goals is not none else '-'}}</span></td>
                </tr>
                <tr>
                  <td>{{m.team_away_name|title}}</td>
                  <td><span class="text-primary">{{m.team_away_goals if m.team_away_goals is not none else '-'}}</span></td>
                </tr>
              </tbody>
            </table>

              {% if m.observaciones %}
                <p><b>Observaciones: </b><i>{{m.comments}}</i></p>
              {% endif %}
          </div>
        </div>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>

</html>