<!DOCTYPE html>

<html>

<head>
	<title>Main Test</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
</head>

<body>
	<p>Logged as {{user_email}} <small>(<a href="/logout">Logout</a>)</small></p>

	<form action="/" method="POST">

		<p>Introduce el texto a traducir:</p>
		<textarea rows="15" cols="150" name="original_text">{{original_text}}</textarea>

		<br>
		<input type="submit" value="Traducir" />
	</form>

	<p>Texto traducido:</p>

	<textarea rows="15" cols="150">{{translated_text}}</textarea>

</body>

</html>